*{
margin: 0;
padding: 0;
box-sizing: border-box;  
  
}

body{  

text-align:left;
font-family: 'Josefin Sans', sans-serif;
background-color:#ffffff;
color:hsl(0, 36%, 70%);
font-size: 16px

}

h1 {
  
font-family: 'Josefin Sans', sans-serif; 
color: hsl(0, 36%, 70%)

}


h2 {
  
font-family: 'Josefin Sans', sans-serif;  
color: hsl(0, 6%, 24%)
  
}

h3 {
  
font-family: 'Josefin Sans', sans-serif;  
color:  hsl(0, 6%, 24%)
  
}

.imagem {

float: left;
background: yellow;  

}
.texto {

float: left;
background: red;
  
}

.logo {

margin: 10px;
padding: 10px;
background: purple;
  
}

.coming {

margin: 10px;
padding: 10px;
background: pink;  
}

.rodape  {
  
text-align: center;  
margin: 10px;
padding: 10px;
background: brown; 
  
}

.container {
grid-gap: 20px ;    
display: grid;
grid-template-columns: ;  
grid-template-rows: ; 
grid-template-areas: auto ;
  
}